<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>formations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">

    <div class="items" *ngFor="let formation of formations">
      <div class="item">
        <label for="formation">Formation</label>
        <input type="text" id="formation">
      </div>
      <div class="item">
        <label for="etablissement">Structure</label>
        <input type="text" id="etablissement">
      </div>
      <div class="item">
        <label for="ville">Ville</label>
        <input type="text" id="ville">
      </div>
      <div class="item">
        <label for="date-debut">Date de debut</label>
        <input type="date" id="date-debut">
      </div>
      <div class="item">
        <label for="date-fin">Date de fin</label>
        <input type="date" id="date-fin">
      </div>
      <div class="item">
        <label for="description">Description</label>
        <textarea name="" id="description" cols="30" rows="10"></textarea>
      </div>  
    </div>

    <div class="btns">
      <button class="submit" (click)="onSubmit()">Submit</button>
      <button (click)="add()" class="add">Add</button>
    </div>
        
  </div>

</ion-content>
